@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Playfair+Display:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Playfair Display", serif;
}

:root {
  --primary: #2563eb; /* Royal Blue */
  --accent: #60a5fa; /* Sky Blue */
  --bg-paper: #ffffff; /* Pure White */
}

body {
  background-color: var(--bg-paper);
  color: #1e293b; /* Slate 800 for text */
  font-family: var(--font-sans);
  overflow-x: hidden;
}

.font-display {
  font-family: var(--font-display);
}

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #999;
}